# temp dir for building, no files outside of gpsd-3.*~dev/ should change.
gpsd-3.23.1~dev
buildtmp
.sconf_temp
__pycache__
config.log
# common log file
nohup.out
# vi swap files
*.swp
# contrib fluff
contrib/clock_test
contrib/gpsd-dbus
contrib/*.o
contrib/.sconsign.dblite
# common log file
nohup.out
# vi swap files
*.swp
# distfiles
gpsd-3.*zip
gpsd-3.*.tar.gz
gpsd-3.*.tar.xz
# testbuild directory
testbuild
# website staging
.public
